.Rhistory
.Rproj.user/26417E79/persistent-state
.Rproj.user/26417E79/rmd-outputs
.Rproj.user/26417E79/saved_source_markers
.Rproj.user/26417E79/pcs/debug-breakpoints.pper
.Rproj.user/26417E79/pcs/files-pane.pper
.Rproj.user/26417E79/pcs/source-pane.pper
.Rproj.user/26417E79/pcs/windowlayoutstate.pper
.Rproj.user/26417E79/pcs/workbench-pane.pper
.Rproj.user/26417E79/sources/prop/0D14AC19
.Rproj.user/26417E79/sources/prop/9EC7695B
.Rproj.user/26417E79/sources/prop/INDEX
.Rproj.user/26417E79/sources/session-e58af1d0/1D2ACC0C-contents
.Rproj.user/26417E79/sources/session-e58af1d0/7BCE08AC
.Rproj.user/26417E79/sources/session-e58af1d0/7BCE08AC-contents
.Rproj.user/26417E79/sources/session-e58af1d0/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.Rproj.user
